In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
script_data = pd.read_excel('../data/script_data_2017_2021.xlsx', 
                             sheet_name=['Prescription_Data_2017_2021'])

pop_income = pd.read_csv('../data/TN_pop_201_2019_race_gender.csv')

In [3]:
scripts = script_data.get('Prescription_Data_2017_2021')

print(scripts)

       Year Geography GeographyType             Indicator  Value ValueType
0      2017  Anderson        County   All Benzodiazepines  47803     Count
1      2017  Anderson        County            Alprazolam  17502     Count
2      2017  Anderson        County            Clonazepam  10869     Count
3      2017  Anderson        County              Diazepam   5523     Count
4      2017  Anderson        County             Lorazepam   9638     Count
...     ...       ...           ...                   ...    ...       ...
14710  2021    Wilson        County             Lorazepam     62      Rate
14711  2021    Wilson        County  All Opioids for Pain    628      Rate
14712  2021    Wilson        County           Hydrocodone    255      Rate
14713  2021    Wilson        County             Oxycodone    213      Rate
14714  2021    Wilson        County              Tramadol     98      Rate

[14715 rows x 6 columns]

In [4]:
scripts.shape

(14715, 6)

In [5]:
county =scripts[scripts["GeographyType"].isin(["County",])]

In [6]:
county.head(10)

   Year Geography GeographyType             Indicator   Value ValueType
0  2017  Anderson        County   All Benzodiazepines   47803     Count
1  2017  Anderson        County            Alprazolam   17502     Count
2  2017  Anderson        County            Clonazepam   10869     Count
3  2017  Anderson        County              Diazepam    5523     Count
4  2017  Anderson        County             Lorazepam    9638     Count
5  2017  Anderson        County  All Opioids for Pain  100598     Count
6  2017  Anderson        County           Hydrocodone   36990     Count
7  2017  Anderson        County             Oxycodone   37129     Count
8  2017  Anderson        County              Tramadol   12583     Count
9  2017  Anderson        County   All Benzodiazepines    8599  Patients

In [7]:
pop_income.head(10)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,47,1,Tennessee,Anderson County,1,0,75129,36308,38821,...,879,751,61,38,59,42,13,14,12,7
1,50,47,1,Tennessee,Anderson County,1,1,4212,2113,2099,...,107,89,9,5,5,6,0,1,1,3
2,50,47,1,Tennessee,Anderson County,1,2,4588,2325,2263,...,87,82,6,4,3,3,0,0,2,0
3,50,47,1,Tennessee,Anderson County,1,3,4617,2366,2251,...,77,61,7,3,11,2,1,2,1,0
4,50,47,1,Tennessee,Anderson County,1,4,4856,2543,2313,...,80,65,6,3,6,8,1,2,0,0
5,50,47,1,Tennessee,Anderson County,1,5,3948,2008,1940,...,81,51,2,1,7,2,2,0,0,1
6,50,47,1,Tennessee,Anderson County,1,6,4064,2000,2064,...,96,86,4,4,2,8,0,1,3,1
7,50,47,1,Tennessee,Anderson County,1,7,4227,2124,2103,...,94,65,3,6,10,5,1,0,1,0
8,50,47,1,Tennessee,Anderson County,1,8,4525,2246,2279,...,74,58,10,6,3,2,2,1,3,1
9,50,47,1,Tennessee,Anderson County,1,9,4890,2357,2533,...,56,47,6,1,5,3,2,3,0,0

In [8]:
full_year = []

##loop to check adherence column to determine if early, late, or on time append

for x in pop_income['YEAR']:
    if x ==3:
        full_year.append('2010')
    elif x == 4:
        full_year.append('2011')
    elif x == 5:
        full_year.append('2012')
    elif x == 6:
        full_year.append('2013')
    elif x == 7:
        full_year.append('2014')
    elif x == 8:
        full_year.append('2015')
    elif x == 9:
        full_year.append('2016')
    elif x == 10:
        full_year.append('2017')
    elif x == 11:
        full_year.append('2018')
    elif x == 12:
        full_year.append('2019')
    else:
        full_year.append('NaN')
        
pop_income['full_year']  = full_year

In [9]:
pop_income.head(10)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,full_year
0,50,47,1,Tennessee,Anderson County,1,0,75129,36308,38821,...,751,61,38,59,42,13,14,12,7,NaN
1,50,47,1,Tennessee,Anderson County,1,1,4212,2113,2099,...,89,9,5,5,6,0,1,1,3,NaN
2,50,47,1,Tennessee,Anderson County,1,2,4588,2325,2263,...,82,6,4,3,3,0,0,2,0,NaN
3,50,47,1,Tennessee,Anderson County,1,3,4617,2366,2251,...,61,7,3,11,2,1,2,1,0,NaN
4,50,47,1,Tennessee,Anderson County,1,4,4856,2543,2313,...,65,6,3,6,8,1,2,0,0,NaN
5,50,47,1,Tennessee,Anderson County,1,5,3948,2008,1940,...,51,2,1,7,2,2,0,0,1,NaN
6,50,47,1,Tennessee,Anderson County,1,6,4064,2000,2064,...,86,4,4,2,8,0,1,3,1,NaN
7,50,47,1,Tennessee,Anderson County,1,7,4227,2124,2103,...,65,3,6,10,5,1,0,1,0,NaN
8,50,47,1,Tennessee,Anderson County,1,8,4525,2246,2279,...,58,10,6,3,2,2,1,3,1,NaN
9,50,47,1,Tennessee,Anderson County,1,9,4890,2357,2533,...,47,6,1,5,3,2,3,0,0,NaN

In [10]:
year_2017 = pop_income[pop_income["full_year"].isin(["2017",])]
year_2017

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,full_year
171,50,47,1,Tennessee,Anderson County,10,0,76056,37036,39020,...,937,79,63,73,59,22,28,14,6,2017
172,50,47,1,Tennessee,Anderson County,10,1,4084,2092,1992,...,96,4,10,4,14,3,8,0,0,2017
173,50,47,1,Tennessee,Anderson County,10,2,4414,2218,2196,...,102,14,7,6,4,3,4,4,0,2017
174,50,47,1,Tennessee,Anderson County,10,3,4760,2454,2306,...,95,10,9,8,3,2,3,0,0,2017
175,50,47,1,Tennessee,Anderson County,10,4,4365,2259,2106,...,94,10,9,8,7,0,2,1,0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21617,50,47,189,Tennessee,Wilson County,10,14,7484,3522,3962,...,50,1,0,3,5,0,2,1,0,2017
21618,50,47,189,Tennessee,Wilson County,10,15,5819,2753,3066,...,24,1,2,0,2,0,0,0,0,2017
21619,50,47,189,Tennessee,Wilson County,10,16,3713,1722,1991,...,9,0,0,0,2,0,1,0,0,2017
21620,50,47,189,Tennessee,Wilson County,10,17,2197,934,1263,...,12,1,1,0,0,0,1,0,0,2017
21621,50,47,189,Tennessee,Wilson County,10,18,1827,618,1209,...,7,0,0,1,0,0,0,0,0,2017

In [20]:
pop_income1 =pop_income[pop_income["AGEGRP"].isin([0,])]
pop_income1

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,full_year
0,50,47,1,Tennessee,Anderson County,1,0,75129,36308,38821,...,751,61,38,59,42,13,14,12,7,NaN
19,50,47,1,Tennessee,Anderson County,2,0,75082,36280,38802,...,747,62,38,59,42,14,14,12,7,NaN
38,50,47,1,Tennessee,Anderson County,3,0,75098,36284,38814,...,751,64,42,61,47,15,14,6,2,2010
57,50,47,1,Tennessee,Anderson County,4,0,75209,36396,38813,...,765,64,38,58,50,17,18,11,6,2011
76,50,47,1,Tennessee,Anderson County,5,0,75225,36448,38777,...,797,70,47,58,51,19,24,8,6,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21565,50,47,189,Tennessee,Wilson County,8,0,128536,63097,65439,...,2069,148,118,139,121,48,40,21,34,2015
21584,50,47,189,Tennessee,Wilson County,9,0,132494,65044,67450,...,2243,151,142,174,142,54,48,25,29,2016
21603,50,47,189,Tennessee,Wilson County,10,0,136691,67144,69547,...,2407,157,169,183,141,61,47,26,32,2017
21622,50,47,189,Tennessee,Wilson County,11,0,140954,69363,71591,...,2691,186,193,198,156,64,52,28,34,2018
21641,50,47,189,Tennessee,Wilson County,12,0,144657,71178,73479,...,2837,200,203,189,177,69,73,34,50,2019

In [21]:
pop_inc = pop_income1[['full_year','CTYNAME', 'TOT_POP', 'TOT_MALE', 'TOT_FEMALE','AGEGRP' ]]

In [22]:
pop_inc.head(10)

    full_year          CTYNAME  TOT_POP  TOT_MALE  TOT_FEMALE  AGEGRP
0         NaN  Anderson County    75129     36308       38821       0
19        NaN  Anderson County    75082     36280       38802       0
38       2010  Anderson County    75098     36284       38814       0
57       2011  Anderson County    75209     36396       38813       0
76       2012  Anderson County    75225     36448       38777       0
95       2013  Anderson County    75299     36516       38783       0
114      2014  Anderson County    75157     36496       38661       0
133      2015  Anderson County    75456     36684       38772       0
152      2016  Anderson County    75528     36763       38765       0
171      2017  Anderson County    76056     37036       39020       0

In [13]:
import openpyxl as op

In [23]:
pop_inc.to_csv('pop_inc.csv')